<html>
	<title>Search for Resorts</title>
	{% include 'top.html' %}

	<header>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='search.css') }}">
	</header>

	<div id="body">
	<p><b>Search for ski resorts either by name or state. Then, you can add resorts you plan to ski at to your trips log. Then, you can set the days and the people who are going on each trip.</b></p>

	<form id="search_line" method="GET">
		<p>Search for:</p>
		<input type="radio" name="_type" id="name" value="name" checked>
		<label for="name">Ski Resort</label>
		
		<input type="radio" name="_type" id="state" value="state">
		<label for="state">State</label>
		
		<input type="text" name="search"></input>
		<input class="button" type="submit"></input>
	</form>
	
	{% if result is defined %}

	{% if result is none %}
		<p>Invalid search type. Use radio buttons to choose valid type.</p>
	{% else %}
	
	<p><b>Search results ({{ result|length }}):</b></p>
	{% if result|length == 0 %}
		{% if search is not none and _type is not none %}
		<p>No Ski Resort matched your query.</p>
		{% endif %}
	{% else %}
		<div id='results'>
		{% set count = [0] %}
		{% for res in result  %}
		{% if count.append(count.pop() + 1) %}{% endif %}
		<table class="results_table">
			<tr>
				<td class="title">Ski Resort</td>
				<td class="info" id="search_name{{ count[0] }}">{{ res[2] }}</td>
			</tr>

			<tr>
				<td class="title">State</td>
				<td class="info">{{ res[4] }}</td>
			</tr>

			<tr>
				<td class="title">Website</td>
				<td class="info"><a target='_blank' href='{{ res[3] }}'>{{ res[3] }}</a></td>
			</tr>

			<tr>
				<td class="title">Skiresort.info Website</td>
				<td class="info"><a target='_blank' href='{{ res[1] }}'>{{ res[1] }}</a></td>
			</tr>
			
			<tr style="display: none;">
				<td class="title">Latitude</td>
				<td class="info" id="search_lat{{ count[0] }}">{{ res[5] }}</td>
			</tr>
			
			<tr style="display: none;">
				<td class="title">Longitude</td>
				<td class="info" id="search_lng{{ count[0] }}">{{ res[6] }}</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<form method="POST">
						<input class="button" type="submit" value="Add Resort to Trips"></input>
						<input type="hidden" name="add_trip" value="{{ res[2] }}"></input>

						{% if search is not none %}
						<input type="hidden" name="search" value="{{ search }}"></input>
						{% endif %}

						{% if _type is not none%}
						<input type="hidden" name="_type" value="{{ _type }}"></input>
						{% endif %}
					</form>
				</td>
			</tr>
		</table>
		{% endfor %}
		
		</div>
		
	{% endif %}
	{% endif %}
	{% endif %}
		<div id="right">
			{% if trips is defined and trips is not none %}
			<div id="trips">
				<p><b>Your trips ({{ trips|length }}):</b></p>
				
				<div id="trips_div">
				<table id="trips_table">
				{% set count = [0] %}
				{% for trip in trips %}
				{% if count.append(count.pop() + 1) %}{% endif %}
				<tr>
					<td class="title" id="trips_name{{ count[0] }}">{{ trip[0] }}</td>
					<td class="info">
						<button id="trip_button{{ count[0] }}">Edit Trip</button>
					</td>
				</tr>
				
				<tr style="display: none;">
					<td id="trips_lat{{ count[0] }}">{{ trip[4][0] }}</td>
					<td id="trips_lng{{ count[0] }}">{{ trip[4][1] }}</td>
				</tr>


				<tr id="trip_row{{ count[0] }}" style="display: none;">
					<td colspan="2">
						<form method="POST">
						<input type="hidden" name="update_trip" value="{{ trip[0] }}">
						<div class="days">
							<p>Days of Trip:<p>
							<input type="date" name="start" min="2021-7-1" max="2022-6-31" value="{{ trip[1] }}"></input>
							<p> to </p>
							<input type="date" name="end" min="2021-7-1" max="2022-6-31" value="{{ trip[2] }}"></input>
						</div>

						<div class="people" id="people{{ count[0] }}"><div class="people_header">
								<p>People on Trip:</p><button type="button" id="add_person{{ count[0] }}">Add Person</button></div></div>

						<div id="people_defaults{{ count[0] }}" style="display: none;">
							{% if trip[3] is defined and trip[3] is not none%}
							{% set people_count = [0] %}
							{% for person in trip[3] %}
							<div class="default_person{{ people_count[0] }}">
								<p class="name">{{ trip[3][people_count[0]][0] }}</p>
								<p class="age">{{ trip[3][people_count[0]][1] }}</p>
							</div>
							{% if people_count.append(people_count.pop() + 1) %}{% endif %}
							{% endfor %}
							{% endif %}
						</div>

						<div class="trip_buttons">
						<input class="button" type="submit" value="Update Trip">
					
						{% if search is not none %}
						<input type="hidden" name="search" value="{{ search }}"></input>
						{% endif %}

						{% if _type is not none%}
						<input type="hidden" name="_type" value="{{ _type }}"></input>
						{% endif %}
						</form>
						
						<form method="POST">
							<input class="button" type="submit" value="Delete Trip"></input>
							<input type="hidden" name="delete_trip" value="{{ trip[0] }}"></input>

							{% if search is not none %}
							<input type="hidden" name="search" value="{{ search }}"></input>
							{% endif %}

							{% if _type is not none%}
							<input type="hidden" name="_type" value="{{ _type }}"></input>
							{% endif %}
						</form>

						<button type=button id="cancel_button{{ count[0] }}">Cancel</button>
						</div>
					</td>
				</tr>
				{% endfor %}
				</table>
				</div>

			</div>
			{% endif %}
		
			<div id="locsOptionDiv">
			<p>Show on map:</p>
			<select id="locsSelect">
				<option value="trips">Trips Resorts</option>
				<option value="search">Searched Resorts</option>
				<option value="none">None</option>
			</select>
			</div>

			<div id="map"></div>
		</div>
	</div>	

	{% include 'bottom.html' %}

	<script src="{{url_for('static', filename='map.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static', filename='trips.js')}}" type="text/javascript"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=&AIzaSyB1oKag5nP_X57fOQxs1ihIL7OKRFV3zFU&callback=initMap&libraries=&v=weekly" async></script>
</html>
