<head>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">

	<link rel="icon" href="{{ url_for('static', filename='logo.png') }}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">    
</head>

<div id="top_line">
	<h1 id="welcome">Ski Trip Optimizer</h1>

	<div id="page_links">
		<h3><a href="{{ url_for('home') }}">HOME</a></h3>
		<h3><a href="{{ url_for('search') }}">SEARCH</a></h3>
		<h3><a href="{{ url_for('trips') }}">TRIPS</a></h3>
	</div>

	{% if user is defined and user is not none %}
	<form id="username_form" method="GET">
		<p>Logged in as <a href="{{ url_for('user') }}">{{ user }}</a><p>
		<input class="button" type="submit" value="Log Out"></input>
		<input type="hidden" name="logout" value="{{ user }}"></input>

		{% if _type is defined and _type is not none and _type|length > 0 %}
		<input type="hidden" name="search" value="{{ search }}"></input>

		<input type="hidden" name="_type" value="{{ _type }}"></input>
		{% endif %}
	</form>
	{% else %}
	<div id="user_buttons">
		<button type="button" name="signup_button" onclick="signUp();">Sign Up</button>
		<p>or</p>
		<button type="button" name="login_button" onclick="login();">Login</button>
	</div>

	{% endif %}
</div>

<div id="user_boxes">
	<div id="signup_box" style="display: none;">
		<p>Sign up</p>
	
		<form id="signup_form" method="POST">
			<p>DISCLAIMER: This site doesn't currently support HTTPS encryption! Do NOT enter passwords you deem important. You will not need to secure any sensitive data on this site.</p>

			<p>Email:</p>
			<input type="text" name="email"></input>

			<p>Username:</p>
			<input type="text" name="username"></input>

			<p>Password:</p>
			<input type="text" name="password"></input>

			<input class="button" type="submit" value="Create Account"></input>
			
			{% if _type is defined and _type is not none and _type|length > 0 %}
			<input type="hidden" name="search" value="{{ search }}"></input>

			<input type="hidden" name="_type" value="{{ _type }}"></input>
			{% endif %}
		</form>

		<button type="button" name="cancel_user" onclick="cancelUser();">Cancel</button>
	</div>
	

	<div id="login_box" style="display: none;">
		<p>Login</p>

		<form id="username_form" method="GET">
			<p>Username or Email:</p>
			<input type="text" name="username"></input>

			<p>Password:</p>
			<input type="password" name="password"></input>

			<input class="button" type="submit" value="Log In"></input>

			{% if _type is defined and _type is not none and _type|length > 0 %}
			<input type="hidden" name="search" value="{{ search }}"></input>

			<input type="hidden" name="_type" value="{{ _type }}"></input>
			{% endif %}
		</form>

		<button type="button" name="cancel_user" onclick="cancelUser();">Cancel</button>
	</div>
</div>
